[submodule "packages/src/physical/vesc"]
	path = packages/src/physical/vesc
	url = https://github.com/f1tenth/vesc
	branch = ros2
[submodule "packages/src/physical/costmap_converter"]
	path = packages/src/physical/costmap_converter
	url = https://github.com/rst-tu-dortmund/costmap_converter.git
	branch = ros2
[submodule "packages/src/physical/teb_local_planner"]
	path = packages/src/physical/teb_local_planner
	url = https://github.com/rst-tu-dortmund/teb_local_planner.git
	branch = galactic
[submodule "packages/src/physical/ros-g29-force-feedback"]
	path = packages/src/physical/ros-g29-force-feedback
	url = https://github.com/kuriatsu/ros-g29-force-feedback.git