[submodule "packages/src/physical/vesc"]
	path = packages/src/physical/vesc
	url = https://github.com/f1tenth/vesc
	branch = ros2
[submodule "packages/src/physical/ros-g29-force-feedback"]
	path = packages/src/physical/ros-g29-force-feedback
	url = https://github.com/kuriatsu/ros-g29-force-feedback.git