[submodule "src/urg_node2"]
	path = src/urg_node2
	url = git@github.com:Hokuyo-aut/urg_node2.git
[submodule "src/laser_proc"]
	path = src/laser_proc
	url = git@github.com:ros-perception/laser_proc.git
	branch = ros2-devel
[submodule "src/vesc"]
	path = src/vesc
	url = git@github.com:f1tenth/vesc.git
	branch = ros2
[submodule "src/transport_drivers"]
	path = src/transport_drivers
	url = git@github.com:ros-drivers/transport_drivers.git
	branch = galactic
[submodule "src/physical/diagnostics"]
	path = src/physical/diagnostics
	url = git@github.com:ros/diagnostics.git
	branch=galactic
[submodule "src/physical/ackermann_msgs"]
	path = src/physical/ackermann_msgs
	url = git@github.com:ros-drivers/ackermann_msgs.git
	branch = ros2
[submodule "src/udp_msgs"]
	path = src/udp_msgs
	url = git@github.com:flynneva/udp_msgs.git
